@fonts-face {
    src: url(https://fg37-yt.github.io/fonts/Raleway-SemiBold.ttf);
    font-family: raleway;
}

body {
    background-color: rgb(14, 21, 27);
}

h1 {
    color: rgb(236, 129, 29);
    text-align: center;
    font-family: raleway;
}